<div class="p-4 border bg-light w-50 mx-auto">
  <h1>Sign in</h1>
  <%= form_with url: session_path do |form| %>
  <div class="form-floating mb-3">
    <%= form.email_field :email_address, class: "form-control", required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %>
    <%= form.label :email_address, "Email address", class: "form-label" %>
  </div>
  <div class="form-floating mb-3">
    <%= form.password_field :password, class: "form-control", required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %>
    <%= form.label :password, "Password", class: "form-label" %>
  </div>
    <%= form.submit "Sign in", class: "btn btn-primary" %>
  <% end %>
  <br>
</div>